/* Reset */
li, ul { list-style: none; margin: 0; padding: 0; }
img{ max-width: 100%; } 

a,b,strong,p,input,button,select,textarea,h1,h2,h3,h4,h5,h6,span,div{ font-family: 'Open Sans', sans-serif; }

.inferior .icon-shopping-cart,
.inferior .carrinho .titulo,
.inferior .carrinho > a > span,
.barra-inicial{ display: none ! important; }

.carrinho-interno,
.caixa-sombreada,
.filtro,
.sugestoes,
.produto .acoes-flutuante,
.abas-custom .tab-content,
.menu.lateral .nivel-um>li,
.menu .nivel-dois, .menu .nivel-tres, .menu.lateral .nivel-um>li>a,
.conteiner-principal .conteiner{ box-shadow: 0 0 0 transparent; }

.acoes-conta .fundo-principal,
.conteiner-principal .conteiner{ background-color: transparent; }

.filtro{ outline: none; }

.breadcrumbs ul li,
.ordenar-listagem.topo,
.breadcrumbs,
.ordenar-listagem.rodape,
.carrinho{ border: 0 none; }

.botao.principal.botao-comprar, .botao.principal.grande, .acoes-produto-responsiva .tag-comprar,
.carrinho-interno>div .botao{ background-image: none; border: 0 none; border-radius: 1px; }

.abas-custom .tab-content,
.sugestoes,
.menu.lateral .nivel-um>li{ border: 1px solid #ddd; }

.produto .acoes-flutuante,
.filtro,
.carrinho-interno{ border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }

#cabecalho{ position: relative; }
.pagina-carrinho .carrinho-interno,
.pagina-carrinho #menu-principal,
.pagina-carrinho .superior{ display: none ! important; }
.pagina-carrinho .inferior{ padding-top: 30px; }
.superior > .span2 ul{ display: block; }
	.superior > .span2 ul li{ float: left; margin-right: 8px; }
	.superior > .span2 ul li:last-child{ margin-right: 8px; }
		.superior > .span2 ul li a{ color: #fff; font-size: 16px; }
		.superior > .span2 ul li a:hover{ color: #333; }
.superior .acoes-conta{ float: right; text-align: right; }
	.superior .acoes-conta li{ margin-right: 18px; }
	.superior .acoes-conta li:last-child{ margin-right: 0; }
		.superior .acoes-conta a,
		.superior .acoes-conta span{ color: #fff; font-size: 13px; font-weight: 400; line-height: 20px; }
		.superior .acoes-conta a:hover{ text-decoration: underline; }

.inferior .span3 span{ color: #fff; display: block; font-size: 13px; font-weight: 400; line-height: 17px; }
.inferior .span3 a{ color: #fff; font-size: 13px; font-weight: 700; line-height: 17px; margin-right: 10px; }
.inferior .span3 a:hover{ color: #ddd; }

.inferior .busca{ background: none repeat scroll center #fff; border-radius: 1px; padding: 5px; }
	.inferior .busca #auto-complete{ background: none repeat scroll center transparent; border: 0 none; box-shadow: 0 0 0 transparent; height: 30px; }
	.inferior .busca .botao-busca{ background-image: none; border: 0 none; border-radius: 1px; color: #fff; font-size: 14px; font-weight: 400; line-height: 27px; height: 38px; width: 70px; }
	.inferior .busca .botao-busca:hover{ opacity: .8; }
	.inferior .busca .botao-busca:before{ content: ""; }

.inferior .carrinho .qtd-carrinho{ background: url('//cdn.awsli.com.br/187/187546/arquivos/icone-carrinho.png') no-repeat scroll center transparent; display: block ! important; color: #fff; font-size: 17px; line-height: 37px; height: 44px; width: 51px; text-align: center; }
.inferior .carrinho .qtd-carrinho:hover{ color: #ddd; }



#menu-principal{ margin: 5px 0; }
.pagina-inicial #menu-principal{ margin-bottom: 0; }
	#menu-principal .conteiner{ background-color: #fff; height: 50px; max-width: 1180px; padding: 0; }
	.pagina-inicial #menu-principal .conteiner{ max-width: 1140px; }
		#menu-principal #menu-categorias{ height: 50px; padding: 0 15px; position: relative; z-index: 999; opacity: 1!important }
			#menu-principal #menu-categorias > span{ color: #fff; font-size: 17px; line-height: 50px; }
			#menu-principal #menu-categorias ul.nivel-um{ background-color: #fff; display: none; left: 0; position: absolute; top: 50px; width: 100%; z-index: 999; }
			.pagina-inicial #menu-principal #menu-categorias ul.nivel-um,
			#menu-principal #menu-categorias:hover ul.nivel-um{ display: block; }
				#menu-principal #menu-categorias ul.nivel-um > li{ border: 0 none; position: relative; }
					#menu-principal #menu-categorias li a{ display: block; font-size: 15px; line-height: 35px; padding: 0 15px; }
					#menu-principal #menu-categorias li .icon-chevron-down{  -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
						#menu-principal #menu-categorias li a strong,
						#menu-principal #menu-categorias li a{ color: #333333; font-size: 15px; line-height: 35px; font-weight: 400; text-decoration: none; }
						#menu-principal #menu-categorias li a:hover strong,
						#menu-principal #menu-categorias li a:hover{ color: #909090; }
						#menu-principal #menu-categorias li.com-filho i{ background-color: transparent!important; float: right; color: #333; line-height: 35px; font-size: 12px; }
						#menu-principal #menu-categorias ul.nivel-dois,
						#menu-principal #menu-categorias ul.nivel-tres{ background-color: #fff; display: none; position: absolute; left: 100%; top: 0; width: 200px; }
						#menu-principal #menu-categorias ul.nivel-um li:hover .nivel-dois,
						#menu-principal #menu-categorias ul.nivel-dois li:hover .nivel-tres{ display: block; }
		#menu-principal #menu-paginas{ overflow: hidden; height: 50px; }
			#menu-principal #menu-paginas ul li{ border: 0 none; float: left; margin-left: 20px; }
			#menu-principal #menu-paginas ul li:first-child{ margin-left: 0; }
				#menu-principal #menu-paginas ul li a{ display: block; text-decoration: none; }
					#menu-principal #menu-paginas ul li a,
					#menu-principal #menu-paginas ul li a strong{ color: #333333; font-size: 15px; line-height: 50px; text-align: center; }
					#menu-principal #menu-paginas ul li a:hover,
					#menu-principal #menu-paginas ul li a:hover strong{ color: #909090; }

.secao-banners > .conteiner{ padding-top: 0; }
.banner.cheio .flex-control-nav{ background-color: transparent; display: block; left: 0; right: 0; width: 100%; }
	.banner.cheio .flex-control-nav li{ margin: 0 2px; }
		.banner.cheio .flex-control-nav a{ border-radius: 100%; height: 15px; width: 15px; }

#corpo .conteiner { background-color: #fff; border-radius: 1px; }
.listagem .listagem-linha,
.listagem .listagem-linha li{ border: 0 none !important; text-align: center; }
	.listagem .listagem-linha li .nome-produto{ color: #121f31; font-size: 14px; display: block; font-weight: 400; line-height: 18px; }
	.listagem .listagem-linha li .preco-venda{ color: #999999; font-size: 14px; display: block; font-weight: 400; line-height: 20px; margin: 0; text-decoration: line-through; }
	.listagem .listagem-linha li .preco-promocional{ font-size: 19px; display: block; font-weight: 700; line-height: 25px; margin: 0; letter-spacing: -.1px; }
	.listagem-item .acoes-produto{ background-color: transparent; border: 0 none; }

#rodape .conteiner{ background-color: #fff ! important; border-radius: 1px; }
	#rodape .institucional{ background: none repeat scroll center transparent; padding-bottom: 0; }

	#rodape .institucional, #rodape .pagamento-selos,
	#rodape .redes-sociais{ background: none repeat scroll center transparent; box-shadow: 0 0 0 transparent; border: 0 none; z-index: 99; }
	#rodape .pagamento-selos{ padding-bottom: 0; }
	#rodape .pagamento-selos + div{ background-color: transparent ! important; border: 0 none ! important; }

	#rodape .titulo{ color: #121f31; font-size: 16px; line-height: 20px; border: 0 none; margin: 0; padding: 10px 0; }
	#rodape .links-rodape li{ list-style: none; }
		#rodape .links-rodape a,
		#rodape .links-rodape p{ color: #333; font-size: 14px; font-weight: 600; line-height: 25px; border: 0 none; }